<div class="row">
    
<div class="col-md-4">
    <div class="card card-profile">
        <div class="card-avatar">
            <a href="#pablo">
                <img class="img" />
            </a>
        </div>
        <div class="card-body">
            <h6 class="card-category text-gray">CEO / Co-Founder</h6>
            <h4 class="card-title"><%= current_user.email %></h4>
            <p class="card-description">
                Um usuário novo do Curriculum XD
            </p>
            <a href="#pablo" class="btn btn-primary btn-round">Follow</a>
        </div>
    </div>
</div>

</div>