<div align="center" class="col-lg-3 col-md-6 col-sm-6">
    <%= link_to new_creator_path do %>
    <div class="card card-stats">
        <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
               <i class="material-icons">content_copy</i>
            </div>
            <p class="card-category">XD</p>
            <h3 class="card-title">Crie seu Curriculum
                <small>Totalmente Grátis</small>
            </h3>
        </div>
        <div class="card-footer">
            <div class="stats">
                <i class="material-icons text-danger">work_outline</i>
            </div>
        </div>
    </div>
    <% end %>
</div>
