<div class="content">
    <div class="container-fluid">
        <div class="row">
<div class="card card-profile">
        <div class="card-avatar">
            <a href="#pablo">
                <img class="img" />
            </a>
        </div>
        <div class="card-body">
            <h6 class="card-category text-gray">CurriculumXD</h6>
            <h4 class="card-title">naltispace@gmail.com</h4>
            <p class="card-description">
                Mande um email.
            </p>
        </div>
    </div>
        </div>
    </div>
</div>