<div class="row nested-fields">

            <div class="col-md-6 mb-3">
                <%= f.input :name ,placeholder: 'Nome',label: false,class: "form-control"%>
            </div>              

            <div class="col-md-6 mb-3">
                <%= f.input :level,placeholder: 'Nível',label: false,class: "form-control" %>
            </div>

            <div class="col-md-3 mb-3">
            	<%= link_to_remove_association "remover Língua", f ,class: "btn btn-danger"%>     
        	</div>    
</div>