<div class="row nested-fields">

            <div class="col-md-8 mb-3">
                <label class="bmd-label-floating">Número do Telefone</label>
                <%= f.input :number_phone ,label: false,class: "form-control"%>
            </div>              

            <div class="col-md-3 mb-3">
            	<%= link_to_remove_association "remover Telefone", f ,class: "btn btn-danger"%>     
        	</div>    
</div>