<p>Oi <%= @resource.email %>!</p>

<p>Alguém solicitou esse link para trocar sua senha, caso seja você..clique abaixo</p>

<p><%= link_to 'Trocar senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não pediu o link, ignore o email!!</p>
