<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
 <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
 <%= wicked_pdf_stylesheet_link_tag "pdf1" -%>

<title>PDF</title>
</head>
<body>
	<%= yield %>
</body>
</html>